{% extends 'NanotechEasylinkBundle:client:index.html.twig' %}
{% block droit %}
    <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row">
            <div class="col-md-6">
                <div class="services-single-left-heading">
                    <h4>Mes dévis</h4>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a href="#" class="btn btn-info">Démander un dévise</a>
            </div>
        </div>
        <div class="row">

            <table class="table table-striped" >
                <thead style="color: #0d6aad;">
                <th scope="col">#</th>
                <th scope="col">Annonce</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
                </thead>
                <tbody style="color: black;">
                <tr>
                    <th scope="row">1</th>
                    <th>loren ipsum cvdfdfdfd dfdf df d fd fd fd fd f df df d fd f df df d</th>
                    <th>En attente</th>
                    <th>13 Avril</th>
                    <th>
                        <a href="#" class="btn btn-info">Voir</a>
                        <a href="#" class="btn btn-default">Modifier</a>
                        <a href="#" class="btn btn-danger">Supprimer</a>
                    </th>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <th>loren ipsum</th>
                    <th>En attente</th>
                    <th>13 Avril</th>
                    <th><a href="#" class="btn btn-info">Voir</a>
                        <a href="#" class="btn btn-default">Modifier</a>
                        <a href="#" class="btn btn-danger">Supprimer</a>
                    </th>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <th>loren ipsum</th>
                    <th>En attente</th>
                    <th>13 Avril</th>
                    <th><a href="#" class="btn btn-info">Voir</a>
                        <a href="#" class="btn btn-default">Modifier</a>
                        <a href="#" class="btn btn-danger">Supprimer</a>
                    </th>
                </tr>

                </tbody>
            </table>

        </div>


    </div>
{% endblock %}