 <!-- Counter Area Start -->
    <div class="counter-area section-padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
                        <div class="counter-info">
                            <span class="fcount">
                                <span class="counter">37</span>
                            </span>
                            <h3>PRESSES</h3>								
                        </div>
                    </div>		                
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
                        <div class="counter-info">
                            <span class="fcount">
                                <span class="counter">950</span>
                            </span>
                            <h3>PARUTIONS</h3>								
                        </div>
                    </div>		                
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
                        <div class="counter-info">
                            <span class="fcount">
                                <span class="counter">1450</span>
                            </span>
                            <h3>ARTICLES</h3>								
                        </div>
                    </div>		                
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="single-counter wow" data-wow-duration="1.5s" data-wow-delay=".3s">
                        <div class="counter-info">
                            <span class="fcount">
                                <span class="counter">192093</span>
                            </span>
                            <h3>ABONNES</h3>								
                        </div>
                    </div>		                
                </div>
            </div>

        </div>

    </div>
    <!-- Counter Area End -->

    <!-- News Letter Area Start -->
    <div class="newsletter-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter-title"><br>
                        <h2>SOUSCRIRE A LA NEWSLETTER</h2>
                        <p>Souscrire à la Newsletter avec votre email et restez à jour sur les dernières parutions</p>
                    </div>
                    <div class="letter-box">
                        <form action="#" method="post" class="search-box">
                            <div>
                                <input type="text" placeholder="Votre adresse email">
                                <button type="submit" class="btn btn-search">SOUSCRIRE<span><i class="flaticon-school-1"></i></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- News Letter Area End -->
    <!-- Footer Area Start -->