<!-- slider Area Start -->
<div class="slider-area">
    <div class="bend niceties preview-1">
       {{ render(controller('DigitPressBundle:Parution:slides')) }}        
    </div>
</div>
<!-- slider Area End-->  

